ENV=local
LOG_LEVEL

API_WORKERS=1 
API_PORT=8000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

ACCESS_PRIVATE_PATH=crypt/jwt/access_private.pem
ACCESS_PUBLIC_PATH=crypt/jwt/access_public.pem
REFRESH_PRIVATE_PATH=crypt/jwt/refresh_private.pem
REFRESH_PUBLIC_PATH=crypt/jwt/refresh_public.pem

COMPOSE_FILE=local/docker-compose.yml
